body {
  /*background-color: #000;*/
}

body.loading {
  background-color: black;
}

/* --Loading bar --*/
#loading-bar-container {
  position: fixed;
  top: 50%;
  left: 40%; /* Adjust the left position to center the loading bar */
  width: 20%; /* Adjust the width of the loading bar */
  height: 4px;
  background-color: var(--raisin-black);
  z-index: 999;
  margin-left: auto;
  margin-right: auto;

}

#loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3498db;
}

#loading-number {
  position: absolute;
  right: -45px;
  top: -40px;
  font-size: 20px;
  color: #3498db;
}

.loading-text {
  position: absolute;
  top: -40px;
  left: 0;
  font-weight: bold;
  color: var(--silver);
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.techie-font {
  font-family: 'Roboto Mono', monospace;
}


/*---- Hide Main Content Initially ----*/
.main-content {
  opacity: 0;
  transition: opacity 0.575s ease;
  background-color: var(--white);
}

.show-content {
  opacity: 1;
}

#main-navbar {
  background-color: var(--azul);
  transition: background-color 0.3s ease, opacity 0.575s ease;
}

.hide-navbar {
  opacity: 0;
}

/* Adjust the height of the navbar */
.navbar {
  min-height: 50px; /* Set the desired height of the navbar */
  /*color: var(--raisin-black);*/
  /*background-color: var(--night);*/
}

.navbar-nav {
    padding-right: 5%;
}

/* Connect Wallet button */
.connect-wallet-btn {
  background-color: var(--raisin-black);
  border-radius: 10px;
  margin-left: 15px;
}

.connect-wallet-btn:hover,
.connect-wallet-btn:focus,
.connect-wallet-btn:active,
.connect-wallet-btn:focus:active,
.connect-wallet-btn:focus:hover {
  background-color: var(--raisin-black-darker) !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Connect Wallet dropdown */
.dropdown-menu {
  border-radius: 10px;
  background-color: var(--raisin-black);
}

.dropdown-item {
  background-color: var(--white);
  color: var(--raisin-black);
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:focus:active,
.dropdown-item:focus:hover {
  background-color: var(--raisin-black-darker) !important;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

/* Center wallet dropdown under Connect button */
.connect-wallet-btn + .dropdown-menu {
  left: 54.5%;
  transform: translateX(-50%);
}

/* Set the text color to black for nav-links */
.navbar .navbar-nav .nav-item .nav-link {
  color: var(--raisin-black);

}

.navbar-nav .nav-item .nav-link:active {
  transform: translateY(0);
}

.navbar-nav .nav-item .nav-link {
  font-family: var(--bs-font-family);
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sticky navbar */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  /*-webkit-backface-visibility: hidden;  Fixes stuttering issue in WebKit browsers */
  /*backface-visibility: hidden;  Fixes stuttering issue in other browsers */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
}

.sticky-navbar.large-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Add box-shadow to scrolled-navbar class */
.sticky-navbar.scrolled-navbar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* Nav-link underline animation */
.nav-item a {
    position: relative;
}

.nav-item a::before {
    content: '';
    position: absolute;
    width: 80.5%;
    height: 1px;
    background-color: var(--raisin-black);
    bottom: 0;
    left: 10%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.15s ease-in;
}

.nav-item a:hover::before {
    transform: scaleX(1);
}

.nav-item a::after {
    content: '';
    position: absolute;
    width: 80.5%;
    height: 1px;
    background-color: var(--raisin-black);
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.15s ease-in;
}

.nav-item a.hover-out::after {
    transform: scaleX(1);
}

.navbar-brand, .nav-link {
  color: var(--raisin-black);
  text-decoration: none;
}

.navbar.scrolled-navbar .navbar-brand, .navbar.scrolled-navbar {
  color: #FFFFFF;
}

/*---- Header ----*/

header {
  background-color: var(--celtic-blue);
  padding: 12rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url('/portfolio/assets/img/header-bg-combined-custom.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header-container {
  /*min-height: 600px;
  display: flex;
  flex-direction: column;*/

  /* align-items: center;*/
}

.title-container {
  display: flex;
  flex-direction: column;
}



.app-brand-logo, .title-container, .lead {
  padding-left: 5%;
}


.intro {
  padding-top: 100px; /* Adjust this value to your desired spacing */
  padding-bottom: 100px; /* Adjust this value to your desired spacing */
}

/*---- Body ----*/

.projects {
  padding: 20rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url('/portfolio/assets/img/project-bg-combined2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


h1 {
  font-family: var(--bs-font-family);
  color: #ffffff;
  font-size: 4.75rem;
  font-weight: bold;
  margin-bottom: -25px;
}

.subtitle {
  font-family: var(--bs-font-family);
  color: var(--silver);
  font-size: 4.75rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* MANGA RILLAZ SLIDE */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-animation {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.lead {
  font-size: 2rem;
}

.intro h2 {
  font-family: var(--bs-font-family);
  color: var(--raisin-black-darker);
  font-size: 4rem;
  padding-bottom: 30px; /* Adjust this value to your desired spacing */
}

h2 {
  font-family: var(--bs-font-family);
  color: var(--raisin-black-darker);
  font-size: 4rem;
  padding-bottom: 15px; /* Adjust this value to your desired spacing */
}

/* Change the font size and color for headings */
h3, h4, h6 {
  font-family: var(--bs-font-family);
  font-size: 2rem;
  color: var(--raisin-black-darker);
}

h4 {
  padding-top: 30px; /* Adjust this value to your desired spacing */
  color: var(--raisin-black-darker);
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  font-family: var(--bs-font-family);
  font-size: 2rem;
  color: #ffffff;
}

p {
  font-family: var(--bs-font-family);
  color: var(--raisin-black-darker);
}

.project-image:hover {
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Center main image */
.centered-img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 1), 0 3px 6px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease-in-out;
}

.centered-img:hover {
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.15);
}

.centered-img {
  border-radius: 10px;
}


/* Adjust the size for medium devices (tablets) */
@media (min-width: 768px) {
  .portfolio-item img {
    max-width: 90%;
  }
}

/* Adjust the size for large devices (desktops) */
@media (min-width: 992px) {
  .portfolio-item img {
    max-width: 80%;
  }
}

/* Adjust the size for extra large devices (large desktops) */
@media (min-width: 1200px) {
  .portfolio-item img {
    max-width: 70%;
  }
}


@media (min-width: 992px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    width: 100%;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .img-fluid {
    max-width: 70%;
    text-align: right;
  }
}

/* Swipe-in/out effect on project image/text */
/* initially hide the element */
.invisible {
  opacity: 0;
}

@keyframes swipe-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.swipe-in {
  animation: swipe-in 1s ease-out both;
}

@keyframes swipe-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.swipe-out {
  animation: swipe-out 1s ease-out both;
}


.img-fluid {
  border-radius: 10px;
}



.btn-custom {
  background-color: var(--celtic-blue);
  color: #ffffff;
  font-family: var(--bs-font-family);
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

/* Button hover effect */
.btn-custom:hover {
  background-color: #0D5DAD;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-custom:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Scroll-down button */
.scroll-down-btn {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
  left: 5%;
}

.scroll-down-btn i {
  color: #000;
  font-size: 36px;
}

#artist-story {
  padding: 200px 18px 200px;
}

.lore {
  font-size: 4rem;
  padding-bottom: 30px; /* Adjust this value to your desired spacing */
  color: var(--raisin-black);
}

.lore-paragraph {
  color: var(--raisin-black) !important;
}
/* Contact Form */
form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  color: var(--silver);
}

/* Social media icons */
footer a.social-icon {
  color: #ffffff;
}

/* Social media icons hover effect */
footer a.social-icon:hover {
  color: var(--celtic-blue);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

footer a.social-icon:active {
  transform: translateY(0);
}

footer h5 {
  margin-bottom: 1rem;
}

/* Remove the underline from social media links */
.social-icons a {
  text-decoration: none;
}

/* Center the social-icons div
.social-icons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
*/

/* Add spacing between the social icons */
.social-icons a {
  margin-right: 15px;
}

.social-icons a:last-child {
  margin-right: 0;
}
