/* --Loading bar --*/
#loading-bar-container {
  position: fixed;
  top: 50%;
  left: 25%; /* Adjust the left position to center the loading bar */
  width: 50%; /* Adjust the width of the loading bar */
  height: 4px;
  background-color: #eee;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
}


#loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3498db;
}

#loading-number {
  position: absolute;
  right: -45px;
  top: -40px;
  font-size: 20px;
  color: #3498db;
}

.loading-text {
  position: absolute;
  top: -40px;
  left: 0;
  font-weight: bold;
  animation: blink 1s linear infinite;
  color: var(--silver);
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.techie-font {
  font-family: 'Roboto Mono', monospace;
}


/*---- Hide Main Content Initially ----*/
.main-content {
  opacity: 0;
  transition: opacity 2s ease;
}

.show-content {
  opacity: 1;
}

/*---- Header ----*/
header {
  position: relative;
  text-align: center;
  overflow: hidden; /* To make sure the image doesn't overflow the header */
  padding-top: 30px; /* Adjust this value to your desired spacing */
  padding-bottom: 30px; /* Adjust this value to your desired spacing */
}

.header-img {
  max-width: 100%; /* Ensure the image doesn't exceed the header's width */
  max-height: 100%; /* Ensure the image doesn't exceed the header's height */
  object-fit: cover; /* Resize the image to fit and maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}

body {
  background-color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--bs-font-family);
}

.navbar-nav .nav-item .nav-link .navbar-brand {
  font-family: var(--bs-font-family);
}

/* Change the font size and color for headings */
h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
  color: var(--silver);
}

h2 {
  padding-bottom: 30px; /* Adjust this value to your desired spacing */
}

h4 {
  padding-top: 30px; /* Adjust this value to your desired spacing */
}

p {
  color: var(--silver);
}

/* Make the main picture smaller */
.portfolio-item img {
  max-width: 80%; /* Adjust the width of the image */
  margin: 0 auto; /* Center the image horizontally */
  padding-top: 30px; /* Adjust this value to your desired spacing */
  padding-bottom: 30px; /* Adjust this value to your desired spacing */
}

.projects {
    padding: 100px 0; /* Add 100px padding to the top and bottom */
}

/* Center main image */
.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust the size for medium devices (tablets) */
@media (min-width: 768px) {
  .portfolio-item img {
    max-width: 90%;
  }
}

/* Adjust the size for large devices (desktops) */
@media (min-width: 992px) {
  .portfolio-item img {
    max-width: 80%;
  }
}

/* Adjust the size for extra large devices (large desktops) */
@media (min-width: 1200px) {
  .portfolio-item img {
    max-width: 70%;
  }
}

.btn-custom {
  background-color: var(--celtic-blue);
  color: #ffffff;
  font-family: var(--bs-font-family);
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.btn-custom:hover {
  background-color: #0D5DAD;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-custom:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


/* Contact Form */
form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  color: var(--silver);
}

/* Navigation links hover effect */
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: var(--celtic-blue);
  transform: translateY(-3px);
  transition: all 0.3s ease
}

.navbar-nav .nav-item .nav-link:active {
  transform: translateY(0);
}

/* Social media icons */
footer a.social-icon {
  color: #ffffff;
}

/* Social media icons hover effect */
footer a.social-icon:hover {
  color: var(--celtic-blue);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

footer a.social-icon:active {
  transform: translateY(0);
}

footer h5 {
  margin-bottom: 1rem;
}

/* Remove the underline from social media links */
.social-icons a {
  text-decoration: none;
}

/* Center the social-icons div
.social-icons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
*/

/* Add spacing between the social icons */
.social-icons a {
  margin-right: 15px;
}

.social-icons a:last-child {
  margin-right: 0;
}
